body {
    background-image: url(/img/download\ \(2\).jpeg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serifs;

}


.inicio {
    font-size: 45px;
    text-align: center;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    width: 300px;
    margin: 0 auto;
}